{
  "name": "example",
  "version": "0.1.0",
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "next": "14.0.4",
    "next-swr": "latest",
    "react": "18.2.0",
    "react-dom": "18.2.0"
  }
}
